#depositoJudicialAlta {
    .table-container {
    }


        .button-form {
            margin: 0 !important;

            .button--blue-border {
                margin-top: 20px;
                margin-left: 0;
            }
        }
   
}
